[Desktop Entry]
Type=Application
Name=Xwyaland Video Bridge
GenericName=Share screens and windows to XWayland applications
Icon=xwaylandvideobridge
Exec=xwaylandvideobridge
StartupNotify=false
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;
