[Desktop Entry]
Type=Application
Name=Xwayland Video Bridge
Name[ca]=Pont de vídeo de l'Xwayland
Name[de]=Xwayland-Video-Brücke
Name[en_GB]=Xwayland Video Bridge
Name[es]=Pasarela de vídeo Xwayland
Name[ka]=Xwayland-ის ვიდეოხიდი
Name[nl]=Xwayland video-bridge
Name[sk]=Xwayland video most
Name[sl]=Xwayland Video Bridge
Name[tr]=Xwayland Video Köprüsü
Name[uk]=Відеомісток Xwayland
Name[x-test]=xxXwayland Video Bridgexx
GenericName=Share screens and windows to XWayland applications
GenericName[ca]=Comparteix pantalles i finestres amb les aplicacions XWayland
GenericName[ca@valencia]=Compartix pantalles i finestres amb les aplicacions XWayland
GenericName[de]=Bildschirme und Fenster mit XWayland-Anwendungen teilen
GenericName[en_GB]=Share screens and windows to XWayland applications
GenericName[es]=Compartir pantallas y ventanas con las aplicaciones XWayland
GenericName[ka]=გაუზიარეთ ეკრანები და ფანჯრები XWayland-ის აპლიკაციებს
GenericName[nl]=Schermen en vensters delen met XWayland toepassingen
GenericName[pt]=Partilhar ecrãs e janelas com as aplicações do XWayland
GenericName[sl]=Deljenje zaslonov in oken z aplikacijami XWayland
GenericName[tr]=Ekranları ve pencereleri XWayland uygulamalarına paylaş
GenericName[uk]=Спільне користування екранами та вікнами для програм XWayland
GenericName[x-test]=xxShare screens and windows to XWayland applicationsxx
Icon=xwaylandvideobridge
Exec=xwaylandvideobridge
StartupNotify=false
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;
